.App {

  text-align: center;
  margin: 2rem auto;
}


.video {
  width: 300px;
  height: 200px;
}

.title {
  margin-bottom: 10%;
}


.entity {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}


.entity_info {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-left: 5rem;
  margin-top: 1rem;
  align-items: flex-start;
  text-align: left;
}

.entity_search {
  margin-top: 5%;
  text-align: center;
}

.typeahead {
  margin-left: 20%;
  margin-right: 20%;
}